.Chat {
    margin: 0 auto;
    min-width: 1200px;
    border: 1px solid black;
    border-radius: 10px;
}

.Messages {
    padding: 30px;
}

.message-buttons {
     display: flex;
 }

.message-buttons p{
    padding-right: 20px;
}

.message {
    border: 1px solid green;
    border-radius: 10px;
}

.react-button {
    color: white;
    padding: 10px;
    background-color: cornflowerblue;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.NewMessage  {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.message-reply {
    margin-left: 30px;
}